.bg-header {
    background-color: #ddab73;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.header-container {
    margin: 0px 0px;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header-title {
    font-size: 80px;
    color: black;
    margin: 20px 0px;
}

.header-content {
    padding: 50px 0px;
    text-align: center;
}

.btn {
    padding: 14px 28px;
    margin: 20px 0;
    background-color: #FF900E;
    border-style: none;
    border-radius: 3px;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

img {
    width: 100%;
    padding: 10px;
}